@import 'variable+mixin.scss';
body {
  width: 100%;
}

.slick-slide {
  outline: none;
  &:focus, a {
    outline: none;
  }
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  display: inline;
  
}

.navbar-toggler-icon {
background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgba(80, 83, 83, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important; }

.navbar-toggler.collapsed .close-icon {
  display: none;
}

.menu-header {
  margin-bottom: 50px;

  li {
    padding-left: 10px;
    margin-top: 12px;
  }
}

.menu-header .nav-link{
  text-decoration: none;
  font: bold 15px/19px 'Open_sans';
  text-transform: uppercase;
  color: $text_card_color !important;
  padding: 7px 15px 8px 20px;

  &:hover {
    color: $color !important;
    background-color: $bg_color;
    border-radius: 17px;
  }
}

p {
  font-size: 45px;
  color: $text_color;
}

.header-content {
  margin-top: 15px;
  background-image: url("../image/Hapo_Learn_banner.png");
  background-size: cover;
  height: 655px;


.content {
  padding: 200px 0 0 0;

  .slogan-up {
    margin: 0 0 0 59px;
    @extend p;
    @include textStoke(UTM BryantLG, 1px, $text_color);
  }
}
}

.header-content .slogan-down {
  @extend p;
  margin: 0 0 0 60px;
  font-weight: bold;
  @include textStoke(UTM BryantLG_B, 1px, $text_color);

  img {
    @include sizeImage(58px, 43px);
  }
}

.header-content {
  pre {
    margin: 20px 0 0 -50px;
    @include font(UTM BryantLG, #505353, 20px);
  }

  a {
    padding: 9px 34px 12px 36px;
    align-items: center;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    font: normal bold 30px 'UTM BryantLG_B';
    color: $color;
    text-decoration: none;
    @include textStoke (UTM BryantLG_B, 1px, $color);
    @include button($bg_color, 70px, 377px, 35px);

    &:hover {
      opacity: 0.7;
      transition: 0.4s;
      text-decoration: none;
      
    }
  }
}

.header-footer {
  background-image: url("../image/background1.png");
  height: 161px;
}
