@import '../Scss/variable+mixin.scss';
@media only screen and (max-width: 768px) {

  .img-header {
    img {
      @include sizeImage(300px, 61.74px);
    }
  }

  .menu-header {
    li {
      padding: 0;
    }
  }

  .header-content {
    height: 350px;

    .content {
      padding: 70px 0 0 0;
      margin-left: -40px;

      p {
        font-size: 28px !important;
      }

      pre {
        margin: -5px 0 0 -31px;
        @include font(UTM BryantLG, #505353, 16px);
      }

      a {
        font-size: 16px;
        margin-top: -5px;
        margin-left: 55px;
        @include button ($bg_color, 37.14px, 200px, 35px);
      }
    }
  }

  .header-footer {
    height: 122px;
  }

  .course {
    margin-top: -70px !important;
  }

  .card {
    height: 300px !important;

    .image {
      height: 131.25px !important;
    }
  }

  .frontend-course .card {
    height: 270px;
  }

  .card-body {
    .card-title {
      font-size: 18px;
      margin-top: -15px;
    }

    .card-text {
      margin-top: -10px;
      padding-bottom: 5px;
      font-size: 13px;
      overflow: hidden;
     display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    }

    a {
      margin-top: -150px;
      font-size: 10px;
      padding: 5px 20px 7px 20px;
      @include button($bg_color, 24.45px, 116.42px, 35px);
      margin-left: 30px;
    }
  }

  .other-course {
    margin: 40px 0 0 33%;
    @include sizeImage (230px, 220px);
    p {
      font-size: 35px;
    }
  }

  .all-of-course {
    margin-top: 60px;
    p {
      font-size: 28px !important;
    }
  }

  .why-hapolearn {
    height: 420px;
  }
  .why-hapo-content {
    margin-top: -70px;
    .menu {
      margin-left: 0;

      ul li {
        font-size: 16px;
       
      }
    }
  }

  .feed-back-slogan {
    .fb-slogan-up {
      p {
        font-size: 40px;
      }
    }
    
    .fb-slogan-down {
      p {
        font-size: 18px;
      }
    }
  }
  
  .start-learning {
    margin-top: -100px;

    .start-learn-slogan {
      p {
      font-size: 35px ;
      }
    }

    .btn-start-learning {
      a {
        font-size: 20px;
        @include button($color, 46.42px, 250px, 35px);
      }
    }
  }

  .statistic-slogan {
    font-size: 45px !important;
  }

  .statistic {
    .menu-content {
      font-size: 35px !important;
    }

    .number {
      font-size: 35px !important;
    }
  }
  
  .footer-text
  {
    margin-top: -70px;
     span {
    font-size: 14px !important;
   
  }
}

  .menu-footer {

    .menu-content {
      a {
        font-size: 16px !important;
      }
    }
  }

  .message-button img {
    margin-left: 30%;
  }

  .footer-text {
    img {
      @include sizeImage(170px, 36px);
    }
  }

  .footer-image img {
    @include sizeImage(40px, 40px);
  }
}

@media only screen and (max-width: 425px) {
  .img-header {
    img {
      margin-left: 65%;
      @include sizeImage(170px, 35px);
    }
  }

  .menu-header {

    .nav-link {
      font: normal bold 16px/22px 'Open-sans' !important;
      text-align: center;

      &:hover {
       
          color: #B2D235 !important;
          text-decoration: none;
          background-color: $color !important;
         // padding: 10px 12px !important;
          box-shadow: none;
          border-radius: 17px;
          transition: 0s;
         
          }
      }
    }

  .header-banner {
    height: 510px;
    background :linear-gradient(180deg, #FFFBFB 87.5%, #E7E9EE 100%);
.header-content {
  height: 200px;
    .content {

      padding: 230px 0 0 8%;
      margin-left: 0;

      p {
        font-size: 22px !important;
        padding-top: 0;
      }

      .slogan-down img {
        @include sizeImage(27.16px, 25.16px);
      }

      pre {
        margin: 0 0 0 -25px;
        @include font(UTM BryantLG, #505353, 14px);
      }

      a {
        font-size: 16px;
        padding: 12px 52px 12.52px 52px;
        @include textStoke(UTM BryantLG, 0.1px, $color);
        @include button ($bg_color, 37.14px, 200px, 35px);
      }
    }
  }
}

  .header-footer {
    height: 310px;
    background :linear-gradient(180deg, #FFFBFB 87.5%, #E7E9EE 100%) !important;
  }

  .card {
    width: 280px;
    height: 320px !important;
    margin-bottom: 20px;
    justify-content: center;

    .image {
      height: 163px !important;
    }
  }
  
  .frontend-course {
    margin-top: 30px !important;
  }

  .card-body {
    a {
      font-size: 18px;
      padding: 6px 30px 7px 30px;
      margin-left: 17px;
      @include button ($bg_color, 200px, 42px, 35px);

    }
  }

  .other-course {
    font-size: 38px;
    margin: 20px 0 0 80px;
    @include sizeImage (243px, 49px)
  }

  .all-of-course
  {
    margin-top: 50px;
  p {
    font-size: 24px !important;

    img {
      @include sizeImage(33px, 18px);
    }
  }
  }
  .why-hapolearn {
    height: 569px;

    .image img {
      margin: -32% 0 -10px;
    }

    .why-header-slogan {
     margin: -80px 0 0 280px;

      p {
        margin-top: -100px;
        font-size: 35px;
      }
    }
  }

  .why-hapo-content {
    .menu {
      margin: 20px 0 0 20px;

      ul li {
        font-size: 14px !important;
      }
    }
  }

  .feed-back-slogan {
    .fb-slogan-up {
      p {
        font-size: 35px;
      }
    }

    .fb-slogan-down {
      p {
        font-size: 16px;
      }
    }
  }

  .fb-content {
    .fb-user-content {
      p {
        font-size: 14px;
      }
    }
    .user-comment {
      b {
        font-size: 16px;
      }
      p {
        font-size: 14px;
      }
    }
  }

  .fb-user-content {
    &:before {
      margin-top: 110px !important;
    }
  }

  .start-learning {
    margin-top: -100px;

    .start-learn-slogan {
      p {
      font-size: 23px;
    }

    .btn-start-learning {
      a {
        font-size: 18px;
        @include button($color, 37px, 200px, 35px);
      }
    }
  }
}

  .statistic-slogan {
    font-size: 35px !important;
  }

  .statistic {
    .menu-content {
      font-size: 35px !important;
    }

    .number {
      font-size: 35px !important;
    }
  }

  .footer-text {
    margin-top: -50px !important;
    img {
      @include sizeImage(170px, 31px);
    }
    span {
      font-size: 12px;
    }
  }

  .footer-image {
    margin-top: -120px;
    margin-left: -20px;
    img {
      @include sizeImage(30px, 30px);
    }
  }

  .card-body {
    .card-title {
      font-size: 20px !important;
    }
  }

  .message-button img {
    margin-left: 70%;
    margin-bottom: 70px;
  }

  .why-hapolearn-img img {
    margin-left: 45px;
  }

  .left {
    margin-left: -88px;
  }
}

